.access-everyone { color: #69d9f6; border-color: #277c94; background: rgba(63, 201, 239, 0.12); }
.access-subscribers { color: #f2aaff; border-color: #643c6b; background: #301c34; }
.access-moderator { color: #db7af2; border-color: #74308a; background: rgba(198, 80, 232, 0.12); }
.access-admin { color: #ff69ad; border-color: #8b2456; background: rgba(255, 47, 146, 0.12); }
.access-owner { color: #55c77d; border-color: #27683e; background: rgba(36, 154, 80, 0.14); }
